/Arduino/arduino-diy/PCB_Invoice.pdf
/Arduino/arduino-diy/BoM.ods
/var/home/valentin/Git/embedded-systems/Arduino/arduino-shields/UNO_L298NH_DC_Motor_Driver/eBay_Order_Information.pdf
/IRF520_MOSFET_Driver_Module/PWM_NA078/eBay_Order_Information.pdf
/Stepper_Motor_Driver/DRV8825/eBay_Order_Information.pdf
